.user-result {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.user-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.first-name {
    font-weight: bold;
}

.username {
    color: gray;
}

.tagged-users {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    margin-bottom: 10px;
}

.tagged-user {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #9b4dca;
    padding: 5px;
    border-radius: 20px;
    font-size: 1.6rem;
    white-space: nowrap; 
}

.tagged-user button {
    background-color: #9b4dca;
    color: white;
    border: none;
    height: 20px;
    width: 100px;
    cursor: pointer;
    font-weight: bold;
}

.tagged-user button:hover {
    color: #ff5252; 
}