.container-post {
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
    margin-top: 5vh;
    border: 1px outset black;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 2px gray;
}

.container-post h1 {
    font-weight: 600;
    border-bottom: 1px outset black;
    box-shadow: 0px 3px 0px 0px gray;
}

.container-post textarea {
    resize: none;
}

.user-result {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.user-link {
    display: flex;
    padding: 10px;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.user-link:hover {
    cursor: pointer;
    background-color: rgb(155, 77, 202, .3);
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.first-name {
    font-weight: bold;
}

.username {
    color: gray;
}

.tagged-users {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 30px; 
    margin-bottom: 10px;
}

.tagged-user {
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ef9105;
    padding: 5px;
    border-radius: 20px;
    font-size: 1.6rem;
    white-space: wrap; 
}

.tagged-user:hover {
    background-color: rgb(155, 77, 202, .3);
}

.tagged-user button {
    background-color: #ef9105;
    color: white;
    border: none;
    height: 20px;
    width: 100px;
    cursor: pointer;
    font-weight: bold;
}

.button-update {
    display: flex;
    justify-content: center;
}

.button-create {
    display: flex;
    justify-content: center;
}

.button-update button {
    height: auto;
    width: auto;
    padding: 10px;
}

.button-create button {
    height: auto;
    width: auto;
    padding: 10px;
}

.button-delete button {
    height: auto;
    width: auto;
    padding: 10px;
    background-color: red;
}

body .container-post .search-part {
    margin-right: 0;
}